## Welcome to Coding challenge 4
**Kamu hanya diminta untuk menyelesaikan 2 pertanyaan**

### Question 1. 
### "Shifting Members of an Array"

Pada pertanyaan ini, kita ingin menggeser array ke kanan. seberapa banyak?
Tergantung dari input

##### Example 1:
array = [1,2,3,4,5]
steps = 3

Kita harus menggeser array 3 langkah ke kanan.
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

Kita harus menggeser array 3 langkah ke kanan.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [1]:
### Write your function here ###
def shift(array, steps):
    return

In [2]:
### Solution

def shift(array,steps):
  length = len(array)
  steps = steps % length  # Menghindari jumlah langkah yang lebih besar dari panjang array

  if steps == 0:
    return array
    
  shifted_array = [0] * length
    
  for i in range(length):
    shifted_index = (i + steps) % length
    shifted_array[shifted_index] = array[i]
    
  return shifted_array

In [3]:
shift([1,2,3,4,5],4)

# Expected Output: [2, 3, 4, 5, 1]

[2, 3, 4, 5, 1]

In [4]:
shift(['andi', 'budi', 'charlie', 'doni'],7)

# Expected Output: ['budi', 'charlie', 'doni', 'andi']

['budi', 'charlie', 'doni', 'andi']

In [5]:
shift(['di', 'bim', 'bing', 123, 'data', 'science'],10)

# Expected Output: ['bing', 123, 'data', 'science', 'di', 'bim']

['bing', 123, 'data', 'science', 'di', 'bim']

### Question 2. 
### "Segitiga Paskal"

Kita akan membuat segitiga paskal sebanyak n-baris. fungsi yang dibuat harus bernama ```pascal```. Apabila belum mengetahui apa itu segitiga paskal, silahkan lihat video:https://www.youtube.com/watch?v=1D3KsvfB8b0 dan baca https://www.mathsisfun.com/pascals-triangle.html

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [6]:
### Write your solution here ###
def pascal(input):
    return

In [7]:
### Solution

def pascal(input):
    prev = 1
    print(prev, end=" ")

    for i in range(1, input + 1):
        curr = (prev * (input - i + 1)) // i
        print(curr, end=" ")
        prev = curr

In [8]:
pascal(3)

1 3 3 1

In [9]:
pascal(4)

1 4 6 4 1

### Question 3

### "Jarak maksimal antara 3 titik"

Terdapat 3 koordinat, tentukan jarak antar 2 titik mana yang memiliki jarak terjauh, dan berikan output jarak kedua titik tersebut. fungsi yang anda buat haurs bernama ```max_ditance```. titik koordinat pertama disebut 'A', titik kedua disebut'B', dan titik ketiga disebut 'C'

##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 5.0

Answer = "The point B,C are furthest apart with distance 19.8"

In [10]:
### Write your solution here ###
def max_distance(A,B,C):
    return

In [11]:
### Solution ###
import math

def distance(point1, point2):
    x1, y1 = point1
    x2, y2 = point2
    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

def max_distance(A, B, C):
    distances = {
        'AB': distance(A, B),
        'BC': distance(B, C),
        'AC': distance(A, C)
    }
    
    max_distance = max(distances.values())
    max_pair = max(distances, key=distances.get)
    
    output = f"The points {max_pair[0]},{max_pair[1]} are furthest apart with distance {max_distance}"
    return output

In [12]:
A=[1,2]
B=[10,-10]
C=[-3, 5]
max_distance(A,B,C)

'The points B,C are furthest apart with distance 19.849433241279208'

Dikerjakan semua untuk latihan saja. mohon di review semua ya apabila ada keliru atau hal yang perlu diperbaiki.


***Terimakasih ✨***